<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Florin T.PATRASCU">
    <title>µEx::Cache admin</title>
    <link rel="stylesheet" href="${request.ContextPath}/cache/main.css" type="text/css" media="screen" charset="utf-8">
</head>

    <body>
        <div>
           <span class="header"><img src="${request.ContextPath}/cache/m.png" alt="micro">µExtension: <a href="$!{request.ContextPath}/cache">Cache admin</a></span>
        </div>
        <div class="content">
            #if($site.isProduction())
               $ca_content.get($path)
            #else
               app running in `${site.MicroEnv}` mode<br/>
               - cache disabled in this mode -
            #end
        </div>
        <div class="footer">powered by: <strong>micro ${site.MicroVersion}</strong></div>
    </body>
</html>
